.ctg-input > div {
  width: 100% !important;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.active {
  background: lightblue;
}

.top-margin {
  margin-top: 20px;
}

.close {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.close:hover {
  transform: rotate(180deg);
}

.icon-pencil {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.icon-pencil:hover {
  transform: rotate(360deg);
}

.icon-user {
  height: 1em;
  width: 1em;
}
.icon-clock-o {
  height: 1em;
  width: 1em;
}