<div class="container animated fadeIn">
  <form #recipeForm="ngForm">
    <h1 class="display-3 text-center mt-4 recipe-title">{{ model.title }}</h1>
    <hr class="my-4">
    <div class="input-group">
      <input type="text" [(ngModel)]="model.title" name="title" class="form-control " id="title" required #title="ngModel" placeholder="Titel">
      <span class="input-group-btn">
        <button class="btn btn-secondary click" type="button" (click)="showHeroPicker()">Titelbild</button>
      </span>
    </div>
    <div class="text-right py-2" *ngIf="model.heroImage"> "{{ heroFilename }}" wurde erfolgreich hochgeladen!</div>
    <div [hidden]="title.valid || title.pristine"
          class="alert alert-danger">
      Das Rezept muss einen Titel haben
    </div>

    <div class="row form-group mt-3 w-100 justify-content-center">
      <div class="col-sm-4 col-lg-2">
        <div class="input-group">
          <div class="input-group-addon"><svg class="icon icon-user"><use inlineHref="#icon-user"></use></svg></div>
          <input type="number" [(ngModel)]="model.servings" name="servings" id="servings" class="form-control">
        </div>
      </div>
      <div class="col-sm-6 offset-sm-2 offset-md-0 col-md-4 col-lg-4 offset-lg-1">
        <div class="input-group">
          <div class="input-group-addon"><svg class="icon icon-clock-o"><use inlineHref="#icon-clock-o"></use></svg></div>
          <input type="number" [(ngModel)]="model.duration" name="duration" id="duration" class="form-control">
          <div class="input-group-addon">Minuten</div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 offset-lg-1 mt-3 mt-md-0">
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-secondary click" [ngClass]="{'active':model.difficulty==1}" (click)="model.difficulty=1">Einfach</button>
          <button type="button" class="btn btn-secondary click" [ngClass]="{'active':model.difficulty==2}" (click)="model.difficulty=2">Mittel</button>
          <button type="button" class="btn btn-secondary click" [ngClass]="{'active':model.difficulty==3}" (click)="model.difficulty=3">Schwer</button>
        </div>
      </div>
      <div class="col-12 mt-4 text-center">
        <div class="btn-group">
          <button type="button" class="btn btn-secondary click" [ngClass]="{'active': hasCategory('Vegetarisch')}" (click)="toggleCategory('Vegetarisch')">Vegetarisch</button>
          <button type="button" class="btn btn-secondary click" [ngClass]="{'active': hasCategory('Vegan')}" (click)="toggleCategory('Vegan')">Vegan</button>
        </div>
      </div>
    </div>

    <h2 class="mb-3 section-header">Zutaten</h2>
    <div class="list-group" dnd-sortable-container [sortableData]="ingredients">
      <div class="mb-2" *ngFor="let ingr of ingredients; let i = index" class="list-group-item" dnd-sortable [sortableIndex]="i">
        <div *ngIf="ingr.name != ''">
          {{ ingr.name }} <span *ngIf="ingr.hint!=''"> ({{ ingr.hint }})</span>
          <a pageScroll href="#inputs" [pageScrollOffset]="200" [pageScrollDuration]="250" 
          class="px-3 click" (click)="editIngredient(i)">
            <svg class="icon icon-pencil"><use inlineHref="#icon-pencil"></use></svg>
          </a>
          <button *ngIf="ingredientAdded" type="button" class="close click" (click)=removeIngredient(ingr)><span aria-hidden="true">&times;</span></button>
        </div>
      </div>
    </div>
    
    <div *ngIf="!editing" class="row form-group mt-3">
      <div class="col-sm-6">
        <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-primary click hidden-lg-up" type="button" (click)="addIngredient()">Enter</button>
          </span>
          <input type="text" [(ngModel)]="newIngredient.name" name="name" class="form-control" id="name" 
                (keyup.enter)="addIngredient()" placeholder="Enter drücken zum Hinzufügen" #ingredient>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="input-group">
          <div class="input-group-addon">Hinweis</div>
          <input type="text" [(ngModel)]="newIngredient.hint" name="hint" class="form-control" id="hint" 
                (keyup.enter)="addIngredient(); ingredient.focus()" placeholder="Klammern werden automatisch gesetzt">
        </div>
      </div>
    </div>
    <div *ngIf="editing" class="row form-group mt-3">
      <div class="col-sm-6">
        <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-primary click hidden-lg-up" type="button" (click)="updateIngredient(editIngr)">Enter</button>
          </span>
          <input type="text" focus="true" [(ngModel)]="newIngredient.name" name="newName" class="form-control" id="newName" 
                (keyup.enter)="updateIngredient(editIngr)" placeholder="Enter drücken zum Bearbeiten" #ingredient>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="input-group">
          <div class="input-group-addon">Hinweis</div>
          <input type="text" [(ngModel)]="newIngredient.hint" name="newHint" class="form-control" id="newHint" 
                (keyup.enter)="updateIngredient(editIngr)" placeholder="Klammern werden automatisch gesetzt">
        </div>
      </div>
    </div>
    
    <h2 class="mb-3 section-header">Info</h2>
    <textarea rows="8" [(ngModel)]="model.description" name="description" class="form-control" id="description" #description="ngModel" placeholder="Beschreibung..."></textarea>
    <button type="button" class="btn btn-default click mt-3" (click)=showDescPicker()>Anleitung Hochladen</button>
    <span *ngIf="model.descrImage" class="pl-3"> "{{ descrFilename }}" wurde erfolgreich hochgeladen!</span>

    <h2 class="my-3 section-header">Kategorien</h2>
    <div class="mb-2 d-inline-block" *ngFor="let ctg of categories">
      {{ ctg }}
      <button type="button" class="close px-2 click" (click)="removeCategory(ctg)"><span aria-hidden="true">&times;</span></button>  
    </div>
    <div class="input-group ctg-input">
      <span class="input-group-btn">
        <button class="btn btn-primary click hidden-lg-up" type="button" (click)="addCategory(category.value); category.value=''">Enter</button>
      </span>
      <input *ngIf="recipes" #category auto-complete type="text" name="category" class="form-control w-100" id="category" 
              (keyup.enter)="addCategory(category.value); category.value=''" placeholder="Enter drücken zum Hinzufügen" 
              [source]="getCategories()" [min-chars]="1" [accept-user-input]="true" no-match-found-text="Kategorie ist neu">
    </div>

    <button type="button" (click)="addRecipe(); gotoRecipes()" class="btn btn-success my-3 click" [disabled]="!recipeForm.form.valid">Speichern</button>
  </form>
</div>