meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
meta(name="theme-color", content="#fff")
link(rel="icon", href="/assets/tomato-icon.png", sizes="32x32")
link(rel="icon", href="/assets/tomato-icon-192.png", sizes="192x192")
link(rel="apple-touch-icon-precomposed", href="/assets/tomato-icon-180.png")
link(rel="stylesheet", crossorigin="anonymous" href="https://fonts.googleapis.com/css?family=Merriweather:300,400,700|Open+Sans:400,400i,600i,700")