meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
link(rel="icon", href="/assets/tomato-icon.png", sizes="32x32")
link(rel="icon", href="/assets/tomato-icon-192.png", sizes="192x192")
link(rel="apple-touch-icon-precomposed", href="/assets/tomato-icon-180.png")