nav
  .nav-wrapper
    a(href="/", class=page === 'index' ? 'active' : '') Rezepte
    a(href="/list", class=page === 'list' ? 'active' : '') Einkaufsliste
    a(href="/plan", class=page === 'plan' ? 'active' : '') Wochenplan
style
  include nav.css
  