nav {
  background: #fff;
  position: sticky;
  top: 0;
  width: 100%;
  border-bottom: 2px #f2f2f2 solid;
  z-index: 10;
}

#nav-wrapper {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
}

#nav-wrapper a, #menu div {
  color: #666;
  padding: 1rem 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .5s ease;
}

#menu {
  position: relative;
  background: white;
  display: none;
  width: 100%;
  border: none;
}

#menu div {
  color: #000;
}

#menu div.hidden {
  display: none;
}

#menu button {
  position: absolute;
  left: 1rem;
  top: 1rem;
  border: none;
  background: inherit;
  font-size: 1.3rem;
  cursor: pointer;
}

#menu .icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: .25rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

#nav-wrapper.open {
  display: grid;
}

#nav-wrapper a:hover {
  color: #000;
}

#nav-wrapper a.active {
  color: #000;
}

@media only screen and (max-width: 600px) {
  #nav-wrapper {
    display: none;
    grid-template-columns: 1fr;
  }
  #menu {
    display: flex;
    justify-content: center;
  }
}
