nav {
  background: #fff;
  position: sticky;
  top: 0;
  width: 100%;
  margin-bottom: 2px;
  z-index: 10;
}

#nav-wrapper {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
}

#nav-wrapper a, #menu {
  color: #666;
  padding: 1rem 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .5s ease;
}

#menu {
  color: #000;
  background: white;
  display: none;
  width: 100%;
  border: none;
  cursor: pointer;
}

#nav-wrapper.open {
  display: grid;
}

#nav-wrapper a:hover {
  color: #000;
}

#nav-wrapper a.active {
  color: #000;
}

@media only screen and (max-width: 600px) {
  #nav-wrapper {
    display: none;
    grid-template-columns: 1fr;
  }
  #menu {
    display: flex;
    justify-content: center;
  }
}
