#ingredients {
  display: flex;
  flex-direction: column;
  margin-top: 0;

  .remove {
    background: #fff;
    border: none;
    border-radius: 0;
    padding: 0;
    text-transform: lowercase;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
  }
  .remove:hover {
    color: #fff;
    background: #333;
  }
}

#ingredients-container {
  input {
    font-size: 1rem;
  }
  label {
    margin-top: 1.5rem;
  }
  .row {
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: auto minmax(0, 1fr) minmax(0, 1fr) 30px;
    align-items: center;
    &.section {
      grid-template-columns: auto minmax(0, 1fr) 30px;
    }
    &.new-ingredient {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) auto;
    }
    &.new-section {
      grid-template-columns: minmax(0, 1fr) auto;
    }
    .icon {
      cursor: pointer;
    }
  }
}

.select {
  position: relative;
  display: flex;
  select {
    padding-right: 3rem;
    text-align: right;
    color: #333;
    background: #fff;
    font-size: 1rem;
    border: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  &::after {
    border: 2px solid #333;
    right: 1.125em;
    z-index: 4;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: .625em;
    margin-top: -.55em;
    pointer-events: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    width: .625em;
  }
}
