{
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "parser": "babel-eslint",
  "extends": "airbnb",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "import"
  ],
  "rules": {
    "linebreak-style": 0,
    "function-paren-newline": 0,
    "no-console": [2, { "allow": ["warn", "error"] } ],
    "no-confusing-arrow": 0,
    "no-unused-expressions": [2, { "allowTernary": true }],
    "no-underscore-dangle": [0, { "allow": ["_id"] }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/no-did-mount-set-state": 0,
    "react/jsx-first-prop-new-line": 0,
    "react/jsx-max-props-per-line": 0,
    "react/prop-types": 0
  }
}
