<div *ngIf="recipe" class="container">
  <form #recipeForm="ngForm">
    <h1>{{ recipe.title }}</h1>
    <div class="form-group">
      <label for="title">Titel</label>
      <input type="text" [(ngModel)]="recipe.title" name="title" class="form-control" id="title" required #title="ngModel">
    </div>
    <div [hidden]="title.valid || title.pristine"
          class="alert alert-danger">
      Das Rezept muss einen Titel haben
    </div>
    <label>Titelbild</label>
    <img *ngIf="recipe.heroImage" class="img-responsive" src="{{recipe.heroImage}}" alt="{{recipe.title}}">
    <button type="button" class="btn btn-default" (click)=showHeroPicker()>Neues Bild</button>
    <div class="form-inline">
      <div class="form-group">
        <input type="number" [(ngModel)]="recipe.servings" name="servings" id="servings" class="form-control"><span> Portionen</span>
      </div>
      <div class="form-group">
        <label for="duration">Dauer</label>
        <input type="number" [(ngModel)]="recipe.duration" name="duration" id="duration" class="form-control"><span> Minuten</span>
      </div>
      <div class="form-group">
        <label for="difficulty">Schwierigkeit</label>
        <input type="number" [(ngModel)]="recipe.difficulty" name="difficulty" id="difficulty" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <p>Zutaten: </p>
      <div *ngFor="let ingr of ingredients; let i = index">
        {{ ingr.name }} <span *ngIf="ingr.hint!=''">({{ ingr.hint }})</span>
        <input *ngIf="ingredientAdded" type="button" value="X" class="btn btn-danger btn-xs" (click)=removeIngredient(ingr)>
      </div>
      <input type="text" [(ngModel)]="newIngredient.name" name="name" class="form-control" id="name" 
            (keyup.enter)="addIngredient()" placeholder="Enter drücken zum Hinzufügen">
      <label for="hint">Hinweis</label>
      <input type="text" [(ngModel)]="newIngredient.hint" name="hint" class="form-control" id="hint" 
            (keyup.enter)="addIngredient()" placeholder="z.B. (Am besten frisch) - Klammern werden automatisch gesetzt">
    </div>
    <div class="form-group">
      <label for="description">Beschreibung</label>
      <input type="text" [(ngModel)]="recipe.description" name="description" class="form-control" id="description" required #description="ngModel">
    </div>
    <div [hidden]="description.valid || description.pristine"
          class="alert alert-danger">
      <p *ngIf="recipe.descrImage">Bitte gib dem Rezept noch eine kurze Beschreibung</p>
      <p *ngIf="!recipe.descrImage">Das Rezept braucht eine Beschreibung, vor allem ohne Bild!</p>
    </div>
    <img *ngIf="recipe.descrImage" class="img-responsive" src="{{recipe.descrImage}}" alt="Recipe description">
    <button type="button" class="btn btn-default" (click)=showDescPicker()>Neues Bild</button>
    <div class="form-group">
      <label for="category">Kategorien: </label>
      <span *ngFor="let ctg of recipe.categories">
        {{ ctg }}
        <button type="button" class="close no-float" (click)="removeCategory(ctg)">x</button>
      </span>
      <input #category type="text" name="category" class="form-control" id="category" 
            (keyup.enter)="addCategory(category.value); category.value=''" placeholder="Enter drücken zum Hinzufügen">
    </div>
    <button type="button" (click)="save(); gotoRecipe(recipe)" class="btn btn-success" [disabled]="!recipeForm.form.valid">Speichern</button>
  </form>
</div>
