<div *ngIf="recipe" class="container">
  <form #recipeForm="ngForm">
    <h1>{{ recipe.title }}</h1>
    <div class="form-group">
      <label for="title">Titel</label>
      <input type="text" [(ngModel)]="recipe.title" name="title" class="form-control" id="title" required #title="ngModel">
    </div>
    <div [hidden]="title.valid || title.pristine"
          class="alert alert-danger">
      Das Rezept muss einen Titel haben
    </div>
    <div class="form-group">
      <label for="duration">Dauer</label>
      <input type="number" [(ngModel)]="recipe.duration" name="duration" id="duration" class="form-control"><span> Minuten</span>
    </div>
    <div class="form-group">
      <label for="difficulty">Schwierigkeit</label>
      <input type="number" [(ngModel)]="recipe.difficulty" name="difficulty" id="difficulty" class="form-control">
    </div>
    <div class="form-group">
      <p>Zutaten: </p>
      <div *ngFor="let ingr of recipe.ingredients; let i = index">
        {{ ingr.quantity }} {{ ingr.name }}
        <button type="button" class="btn btn-danger btn-xs" (click)=removeIngredient(ingr)>X</button>
      </div>
      <label for="name">Name</label>
      <input type="text" [(ngModel)]="newIngredient.name" name="name" class="form-control" id="name">
      <label for="quantity">Menge</label>
      <input type="text" [(ngModel)]="newIngredient.quantity" name="quantity" class="form-control" id="quantity">
    </div>
    
    <button type="button" class="btn btn-primary" (click)=addIngredient()>Hinzufügen</button>
    <div class="form-group">
      <label for="description">Beschreibung</label>
      <input type="text" [(ngModel)]="recipe.description" name="description" class="form-control" id="description">
    </div>
    <img *ngIf="recipe.descrImage" class="img-responsive" src="{{recipe.descrImage}}" alt="Recipe description">
    <button type="button" (click)=showPicker()>Neues Bild</button>
    <div class="form-group">
      <label for="category">Kategorien: </label>
      <span *ngFor="let ctg of recipe.categories">
        {{ ctg }}
        <button type="button" value="X" class="btn btn-danger btn-xs" (click)="removeCategory(ctg)">X</button>
      </span>
      <input #category type="text" name="category" class="form-control" id="category" (keyup.enter)="addCategory(category.value); category.value=''" placeholder="Enter drücken zum Hinzufügen">
    </div>
    <button type="button" (click)="save(); gotoRecipe(recipe)" class="btn btn-success" [disabled]="!recipeForm.form.valid">Speichern</button>
  </form>
</div>
