doctype html
html(lang="de")
  head
    title Einkaufsliste
    include includes/meta.pug
    link(rel="stylesheet", href="/css/list.css")
    script(type="module" src="/scripts/src/modules/nav-menu.mjs")
    script(type="module" src="/scripts/src/modules/toast.mjs")
    script(async src="/scripts/nosleep.js")
    script(async src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js")
  body
    - var page = 'list'
    include includes/nav.pug
    if !list
      .container
        .form-wrapper
          form(action="/list", method="get")
            label(for="code", ) Um die Einkaufsliste nutzen zu können, geben Sie bitte hier den Code ein.
            input(type="text", name="code", placeholder="Einkaufslisten Code")
            button(type="submit") Bestätigen
    else
      #list-wrapper
        #new-item
          input(type="text", name="newitem" placeholder="Hinzufügen")
        .container
          .list
            each item in list
              .item-wrapper
                label.input-container
                  input(type="checkbox")
                  span.checkmark.box
                  span.item
                    span=item
                    button
                      svg.icon
                        use(xlink:href='#icon-pencil')
        div#toast
    script(type="module" src="/scripts/src/list.js")
    include icons/keep-awake.pug
    include icons/edit.pug
