doctype html
html(lang="de")
  head
    title Einkaufsliste
    include includes/meta.pug
    link(rel="stylesheet", href="/css/list.css")
    script(type="module" src="/scripts/src/modules/list-db.mjs")
    script(type="module" src="/scripts/src/modules/nav-menu.mjs")
    script(type="module" src="/scripts/src/modules/toast.mjs")
    script(src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js")
    script(async src="/scripts/nosleep.js")
    include includes/registerSw.pug
  body
    - var page = 'list'
    include includes/nav.pug
    if !list
      .container
        .form-wrapper
          form(action="/list", method="get")
            label(for="code", )
              | Um die Einkaufsliste nutzen zu können, gib hier bitte einen Code ein. Dieser Code wird verwendet, um deine Einkaufsliste eindeutig zu identifizieren, daher such dir am besten einen einzigartigen und ausgefallenen Code aus.
              br
              | Falls du die gleiche Liste auf einem anderen Gerät verwenden oder mit jemandem zusammen benutzen möchtest, einfach dort den gleichen Code eingeben und die Liste synchronisiert sich automatisch!
            input(type="text", name="code", placeholder="Einkaufslisten Code")
            button(type="submit") Bestätigen
    else
      #list-wrapper
        #new-item
          input(type="text", name="newitem" placeholder="Hinzufügen")
        .container
          .list
        div#loader
          include includes/loader.pug
        div#toast
    script(type="module" src="/scripts/src/list.js")
    include icons/keep-awake.pug
    include icons/edit.pug
