doctype html
html(lang="de")
  head
    title Kochbuch
    include includes/meta.pug
    link(rel="stylesheet", href="css/index.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Merriweather:300,400,700")
  body
    if session.authenticated
      a#new-recipe(href="/recipes/new") +
    div#list-wrapper
      div#searchbar
        input(type="search", name="search", placeholder="Suche nach Zutaten, Kategorien oder Titel...")
      div#recipe-list
    script(src="scripts/lib/recipes.js")