doctype html
html(lang="de")
  head
    title Kochbuch
    include includes/meta.pug
    link(rel="manifest", href="/manifest.json")
    link(rel="stylesheet", href="/css/index.css")
    script(type="module" src="/scripts/src/modules/nav-menu.mjs")
    script(type="module" src="/scripts/src/modules/recipes-db.mjs")
    script(type="module" src="/scripts/src/modules/toast.mjs")
    include includes/registerSw.pug
  body
    if session.authenticated
      a#new-recipe(href="/recipes/new") +
    #fixed-wrapper
      - var page = 'index'
      include includes/nav.pug
      div#searchbar
        div#search-input
          svg.icon.icon-search
            use(xlink:href='#icon-search')
          input(type="search", name="search", placeholder="Suche nach Zutaten, Kategorien oder Titel...")
    div#list-wrapper
      div#recipe-list
        noscript Kann Rezepte ohne Javascript nicht darstellen
      div#loader
        include includes/loader.pug
      div#toast
    include icons/search.pug
    include icons/settings.pug
    script(type="module", src="scripts/src/recipes.js")