<div class="navbar-fixed">
  <nav class="white">
    <div class="nav-wrapper">
      <form>
        <div class="input-field container" style="margin: 0 auto;">
          <input [(ngModel)]="query" class="grey-text text-darken-4" id="search" type="search" name="search" 
            placeholder="Suche nach Zutaten, Kategorien oder Titel..." 
            (keyup.enter)="login(query); search.blur();" (keyup)="changed()" #search>
          <label class="label-icon" for="search"><i class="material-icons grey-text">search</i></label>
          <i class="material-icons" (click)="query=''">close</i>
        </div>
      </form>
    </div>
  </nav>
</div>

<div class="new-recipe animated fadeIn" *ngIf="isLoggedIn()">
  <a class="btn-floating btn-large waves-effect waves-light indigo" (click)="newRecipe()">
    <i class="material-icons">add</i>
  </a>
</div>

<div class="container animated fadeIn">
  <div class="row controls">
    <div class="col s12 m5 veggie-options">
      <div class="switch">
        <label>
          <input type="checkbox" [(ngModel)]="vegetarian" (click)="toggleCategory('Vegetarisch'); scrollDown(true)">
          <span class="lever"></span>
          Vegetarisch
        </label>
      </div>
      <div class="switch">
        <label>
          <input type="checkbox" [(ngModel)]="vegan" (click)="toggleCategory('Vegan'); scrollDown(true)">
          <span class="lever"></span>
          Vegan
        </label>
      </div>
    </div>
    <div class="col s3 m2 sort">
      <i class="material-icons sort-icon click" [ngClass]="{'sort-active': !sortDesc}" (click)="sort('asc')">keyboard_arrow_up</i>
      <i class="material-icons sort-icon click" [ngClass]="{'sort-active': sortDesc}" (click)="sort('desc')">keyboard_arrow_down</i>
    </div>
    <div class="col s9 m5">
      <mz-select-container>
        <select mz-select [label]="'Sortieren nach'" (change)="sortBy($event.target.value); scrollDown(true);">
          <option class="left" value="date" [selected]="sortQuery === 'date'">Datum</option>
          <option class="left" value="duration" [selected]="sortQuery === 'duration'">Dauer</option>
          <option class="left" value="difficulty" [selected]="sortQuery === 'difficulty'">Schwierigkeit</option>
          <option class="left" value="ingredient-count" [selected]="sortQuery === 'ingredient-count'">Anzahl der Zutaten</option>
        </select>
      </mz-select-container>
    </div>
  </div>
  <div *ngIf="recipes" class="row">
    <div *ngFor="let recipe of recipes | filterRecipes:query | sortRecipes:sortQuery:sortDesc"
      (click)="onSelect(recipe)" class="col s12 l6 xl4 click">
      <div class="card medium hoverable">
        <div class="card-image">
          <div class="image-wrapper">
            <img *ngIf="recipe.heroImage" class="loading-image" src="{{ recipe.heroImage | previewimg }}">
            <img *ngIf="!recipe.heroImage" class="loading-image" src="../../../assets/images/comingsoon.jpg" alt="Coming soon">
            <div *ngIf="recipe.heroImage" class="main-image" [lazyLoad]="recipe.heroImage | thumbnail:600:0" [offset]="500"></div>
          </div>
          <span class="card-title recipe-quickinfo">
            <img class="veggie" *ngIf="recipe.categories.includes('Vegetarisch')" src="../../../assets/images/vegetarian.svg">
            <img class="veggie" *ngIf="recipe.categories.includes('Vegan')" src="../../../assets/images/vegan.svg">
            <span class="minutes right valign-wrapper">
              <i class="material-icons timer-icon">timer</i>
              {{ recipe.duration }} min.
            </span>
          </span>
        </div>
        <div class="card-content valign-wrapper" style="padding-top: 0;">
          <h5 class="recipe-title">
            {{ recipe.title }}
          </h5>
        </div>
        <div class="card-action" *ngIf="recipe.categories">
          <div class="categories"><div *ngFor="let ctg of recipe.categories | noVeggies"># <strong>{{ ctg }}</strong> </div></div>
        </div>
      </div>
    </div>
  </div>
</div>