<div class="jumbotron jumbotron-fluid animated fadeIn">
  <div class="container">
    <h1 class="display-3">Maries und Georgs Rezeptbuch</h1>
    <p class="lead" >Durchsuche unser Kochbuch nach ausgewählten Rezepten, die wir hier mit Liebe zusammengestellt haben :)</p>
    <hr class="my-4">
    <input [(ngModel)]="query" type="search" class="form-control search-field mx-lg-auto" name="search" placeholder="Suche nach Zutaten, Kategorien oder Titel...">
  </div>
</div>

<div class="new-recipe animated fadeIn">
  <a class="click" (click)="newRecipe()"><img class="plus-button hvr-grow" src="../../../assets/images/plus-button4.svg" alt=""></a>
</div>

<div class="container animated fadeIn">
  <div class="d-flex flex-wrap justify-content-center justify-content-md-between align-items-center mb-3">
    <div class="btn-group mb-3 mb-md-0 veggie-buttons">
      <div class="mx-auto">
        <button class="btn btn-secondary click" [ngClass]="{'active': hasCategory('Vegetarisch')}" (click)="toggleCategory('Vegetarisch')">Vegetarisch</button>
        <button class="btn btn-secondary click" [ngClass]="{'active': hasCategory('Vegan')}" (click)="toggleCategory('Vegan')">Vegan</button>
      </div>
    </div>
    <div class="align-self-center">
      <div class="mr-4 align-middle d-inline-block">
        <svg class="icon icon-sort-asc click" [ngClass]="{'sort-active': !sortDesc}" (click)="sort('asc')"><use inlineHref="#icon-sort-asc"></use></svg>
        <svg class="icon icon-sort-desc click" [ngClass]="{'sort-active': sortDesc}" (click)="sort('desc')"><use inlineHref="#icon-sort-desc"></use></svg>
      </div>
      <select class="custom-select click align-middle" (change)="sortBy($event.target.value)">
        <option value="date" [selected]="sortQuery === 'date'">Datum</option>
        <option value="duration" [selected]="sortQuery === 'duration'">Dauer</option>
        <option value="difficulty" [selected]="sortQuery === 'difficulty'">Schwierigkeit</option>
        <option value="ingredient-count" [selected]="sortQuery === 'ingredient-count'">Anzahl der Zutaten</option>
      </select>
    </div>
  </div>
  <div *ngIf="recipes" class="row clearfix">
    <div *ngFor="let recipe of recipes | filterRecipes:query | sortRecipes:sortQuery:sortDesc"
      (click)="onSelect(recipe)" class="col-lg-6 col-xl-4 click">
      <div class="card mb-4 hvr-float">
        <img *ngIf="recipe.heroImage" class="card-img-top thumb-img" src="{{ recipe.heroImage | thumbnail:600:0 }}" alt="{{ recipe.title }}">
        <img *ngIf="!recipe.heroImage" class="card-img-top thumb-img" src="../../../assets/images/comingsoon.jpg" alt="Coming soon">
        <div class="card-block recipe-block">
          <h3 class="card-title recipe-title" [ngClass]="{'long-title': recipe.title.length > 50}">{{ recipe.title }}</h3>
        </div>
        <div class="card-footer">
          <svg class="icon icon-clock-o">
            <use inlineHref="#icon-clock-o"></use>
          </svg>
          <span>{{ recipe.duration }} Minuten</span>
          <div *ngIf="recipe.categories"><span *ngFor="let ctg of recipe.categories" class="click"> #<strong>{{ ctg }}</strong> </span></div>
        </div>
      </div>
    </div>
  </div>
</div>