@media only screen and (min-width: 992px) {
    .recipe-block {
        height: 125px;
    }
}

.search-field {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.search-field:hover {
    border-color: #292b2c;
}

.recipe-title.long-title {
    font-size: 1.45rem;
}

.thumb-img {
    height: 250px;
    object-fit: cover;
}

.new-recipe {
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 1000;
}

.plus-button {
    width: 100px;
    height: 100px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.plus-button:hover {
    transform: rotate(-180deg) scale(1.1);
}

@media only screen and (max-width: 767px) {
    .new-recipe {
        right: 20px;
        bottom: 20px;
    }

    .plus-button {
        width: 75px;
        height: 75px;
    }

    .veggie-buttons {
        width: 100%;
    }
}

.icon-sort-desc, .icon-sort-asc {
    width: 2em;
    height: 2em;
    fill: #292b2c;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.icon-sort-desc:hover, .icon-sort-asc:hover {
    transform: scale(1.25);
    fill: #0275d8;
}

.icon.sort-active {
    fill: #0275d8;
}

