<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Maries und Georgs Rezeptebuch</h1>
    <p class="lead" >Durchsuche unser Kochbuch nach ausgewählten Rezepten, die wir hier mit Liebe zusammengestellt haben :)</p>
    <hr class="my-4">
    <div class="row">
            <div class="col-md-4 mb-2 mb-md-0">
        <input [(ngModel)]="ingrQuery" type="text" class="form-control" name="ingredient-search" placeholder="Suche nach Zutaten z.B. Tomate, Kartoffel">
      </div>
      <div class="col-md-4 mb-2 mb-md-0">
        <input [(ngModel)]="ctgQuery" type="text" class="form-control" name="category-search" placeholder="Suche nach Kategorien z.B. Pasta, Vegan">
      </div>
      <div class="col-md-4 mb-2 mb-md-0">
        <input [(ngModel)]="titleQuery" type="text" class="form-control" name="title-search" placeholder="Suche nach Titel z.B. Pizza, Wrap">
      </div>
    </div>
  </div>
</div>

<div class="new-recipe">
  <a class="click" (click)="newRecipe()"><img class="plus-button hvr-grow" src="../../../assets/images/plus-button4.svg" alt=""></a>
</div>

<div class="container">
  <div class="d-flex justify-content-center justify-content-md-end align-items-center mb-3">
    <div class="mr-4">
      <svg class="d-block icon icon-sort-asc" [ngClass]="{'sort-active': !sortDesc}" (click)="sort('asc')"><use inlineHref="#icon-sort-asc"></use></svg>
      <svg class="d-block icon icon-sort-desc" [ngClass]="{'sort-active': sortDesc}" (click)="sort('desc')"><use inlineHref="#icon-sort-desc"></use></svg>
    </div>
    <div class="">
      <select class="custom-select" (change)="sortBy($event.target.value)">
        <option value="cook-counter" selected>Wie oft gekocht?</option>
        <option value="duration">Dauer</option>
        <option value="difficulty">Schwierigkeit</option>
        <option value="ingredient-count">Anzahl der Zutaten</option>
      </select>
    </div>
  </div>
  <div *ngIf="recipes" class="row clearfix">
    <div *ngFor="let recipe of recipes | filterRecipes:ingrQuery:ctgQuery:titleQuery | sortRecipes:sortQuery:sortDesc"
      (click)="onSelect(recipe)" class="col-lg-6 col-xl-4 click">
      <div class="card mb-4 hvr-float">
        <img *ngIf="recipe.heroImage" class="card-img-top thumb-img" src="{{recipe.heroImage}}" alt="{{recipe.title}}">
        <img *ngIf="!recipe.heroImage" class="card-img-top thumb-img" src="../../../assets/images/comingsoon.jpg" alt="Coming soon">
        <div class="card-block recipe-block">
          <h3 class="card-title recipe-title">{{ recipe.title }}</h3>
        </div>
        <div class="card-footer">
          <svg class="icon icon-clock-o">
            <use inlineHref="#icon-clock-o"></use>
          </svg>
          <span>{{ recipe.duration }} Minuten</span>
          <div *ngIf="recipe.categories"><span *ngFor="let ctg of recipe.categories" class="click"> #<strong>{{ ctg }}</strong> </span></div>
        </div>
      </div>
    </div>
  </div>
</div>