#search {
    height: 100%;
    margin-bottom: 0;
}

.controls {
    padding: 2rem 0;
    padding-bottom: 0;
}

.veggie-options {
    margin-bottom: 2rem;
}

.sort, .veggie-options {
    padding-top: 1.5rem;
}

@media only screen and (max-width: 387px) {
    .sort {
        padding-top: 0;
    }
}

.switch {display: inline-block;}
.switch label {font-size: 18px;color: #333;}
.switch .lever {margin-top: -4px;}
.switch label input[type=checkbox]:checked + .lever:after {background-color: #5c6bc0;}
.switch label input[type=checkbox]:checked + .lever {background-color: #3f51b5;}

.sort-icon {
    font-size: 32px;
}

.sort-active {
    color: #3f51b5;
}

.categories {
    font-size: 12px;
    text-transform: uppercase;
    min-height: 17.6px;
}

.categories > div {
    display: inline-block;
    padding-right: 1rem;
    font-weight: 900;
}

.recipe-title {
    font-size: 1.5rem;
    line-height: 1.15;
    font-weight: 300;
    color: black;
    padding-bottom: 1rem;
    padding-top: .5rem;
}

.img-container {
    position: relative;
}

.card-title.recipe-quickinfo {
    width: 100% !important; 
    padding-left: 12px !important; 
    padding-bottom: 8px !important; 
    height: 68px !important;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75));
}

.card-image > .image-wrapper {
    height: 250px;
    position: relative;
    width: 100%;
    max-width: 600px;
}

.image-wrapper > .loading-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-wrapper > .main-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0;
    transition: opacity .5s ease;
}

.image-wrapper > .main-image.ng-lazyloaded {
    opacity: 1;
}

.veggie {
    display: inline-block !important;
    width: 24px !important;
}

.minutes {
    font-size: 14px;
    position: absolute;
    bottom: 14px;
    right: 12px;
}

.timer-icon {
    font-size: 20px;
    margin-right: .5rem;
}

.new-recipe {
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 1000;
}

.filter {
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 1000;
}

.no-recipe {
    text-align: center;
    margin-top: 50px;
}

@media only screen and (max-width: 767px) {
    .new-recipe {
        right: 20px;
        bottom: 20px;
    }

    .filter {
        right: 20px;
        bottom: 20px;
    }
}