* {
  font-family: 'Open Sans', sans-serif;
}

html, body {
  margin: 0;
  margin-bottom: 2rem;
}

#plan-form {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

label {
  color: #333;
  display: block;
  padding-left: .25rem;
  font-size: .8rem;
  font-weight: 600;
}

input {
  color: #333;
  width: 100%;
  border: none;
  border-bottom: 2px #d9d9d9 solid;
  padding: .5rem .25rem;
  padding-right: 0;
  font-size: 1.25rem;
}

input:disabled {
  background: #f2f2f2;
}

button {
  color: #fff;
  background: #333;
  border: 2px #333 solid;
  border-radius: 10px;
  padding: .5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: all ease .5s;
  cursor: pointer;
}

button:hover {
  color: #333;
  background: #fff;
}

button.inverted {
  color: #333;
  background: #fff;
}

button.inverted:hover {
  color: #fff;
  background: #333;
}

#half {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4rem;
}

#plan-form > * {
  margin-bottom: 1.5rem;
}

#search-results {
  border-left: 2px #f2f2f2 solid;
  border-right: 2px #f2f2f2 solid;
  width: 100%;
}

#search-results div {
  font-size: 1.2rem;
  padding: .5rem .25rem;
  border-bottom: 2px #f2f2f2 solid;
  cursor: pointer;
}

#search-results div:hover {
  background: #f2f2f2;
}

#buttons {
  display: flex;
  justify-content: space-between;
}

#delete {
  color: #fff;
  background: #c9342c;
  border-color: #c9342c;
}

#delete:hover {
  color: #c9342c;
  background: #fff;
}
