* {
  font-family: 'Open Sans', sans-serif;
}

html, body {
  margin: 0;
  background: #f2f2f2;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

#plan-nav-wrapper {
  background: #fff;
}

#plan-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
  font-size: 1.25rem;
}

#plan-nav a {
  color: #333;
  display: flex;
  align-items: center;
  text-decoration: none;
}

#plan-nav > * {
  margin: 0 .75rem;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.flipped {
  transform: rotate(180deg);
}

#plan {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.day {
  background: #fff;
  margin-bottom: 1.5rem;
  padding: .75rem 1rem;
  border-radius: 10px;
}

.day .date {
  color: #aaa;
  font-weight: 600;
  font-size: .9rem;
  text-transform: uppercase;
}

.entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controls {
  color: #aaa;
  font-size: 1.3rem;
}

.day .meta {
  color: #333;
  padding-top: .5rem;
  font-weight: 600;
  font-size: .9rem;
  text-transform: uppercase;
}

.day .title {
  color: #333;
  padding-top: .25rem;
  font-size: 1.1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a.title:hover {
  text-decoration: underline;
}

/* no plan present */

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background: #fff;
  width: 500px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin: 3rem 1rem;
  border-radius: 10px;
  padding: 1.5rem;
}

form label {
  color: #333;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

form input {
  color: #333;
  margin-bottom: 1rem;
  border: none;
  border-bottom: 2px #d9d9d9 solid;
  padding: .5rem .25rem;
  font-size: 1.25rem;
}

form button {
  color: #fff;
  background: #333;
  border: 2px #333 solid;
  border-radius: 10px;
  padding: .5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: all ease .5s;
  cursor: pointer;
}

button:hover {
  color: #333;
  background: #fff;
}

/* custom checkbox and radio button styles */

.input-container {
  display: inline-block;
  position: relative;
  padding-left: 2.5rem;
  margin-right: 1rem;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #f2f2f2;
}

.input-container:hover input ~ .checkmark {
  background-color: #d9d9d9;
}

.input-container input:checked ~ .checkmark {
  background-color: #333;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.input-container input:checked ~ .checkmark:after {
  display: block;
}

.input-container .checkmark.box:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
