html, body {
  margin: 0;
  font-family: 'Merriweather', serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
}

.recipe-title {
  margin: 2rem 0;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.recipe-img {
  max-height: 500px;
  object-fit: cover;
}

.recipe-info {
  margin: 0;
  margin-top: 2rem;
  font-size: 1.2rem;
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.duration {
  line-height: 2;
}

.categories {
  margin-top: .2rem;
}

.categories span {
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  padding: .5rem 1rem;
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.2;
  font-size: 1rem;
}

.recipe-main {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.recipe-main h2 {
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.border-bottom {
  width: 66.66%;
  border-bottom: 1px solid #f2f2f2;
}

.servings-header {
  display: flex;
  justify-content: space-between;
  width: 66.66%;
  margin-bottom: 0;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: .5rem;
}

.servings-control button {
  border: none;
  border-radius: 100%;
  font-size: 1rem;
  width: 2rem;
  height: 2rem;
  padding: .25rem;
  margin: 0 .75rem;
  background: #fff;
  cursor: pointer;
}

.servings-control button:hover {
  background: #f2f2f2;
}

ul {
  padding: 0;
  padding-right: 1rem;
  font-family: 'Open Sans', sans-serif;
}

ul li {
  list-style-type: none;
  padding: .5rem 0;
}

.description {
  padding: .25rem 0;
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width: 1200px) {
  .recipe-main, .recipe-info {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 710px) {
  ul {
    padding-right: 0;
  }
  .recipe-title {
    font-size: 1.5rem;
  }
  .recipe-main, .recipe-info {
    grid-gap: 1rem;
    grid-template-columns: 1fr;
  }
  .recipe-info {
    margin-top: 1rem;
    margin-bottom: 0;
  }
  .recipe-img {
    max-height: 35vh;
  }
}

@media only screen and (max-width: 450px) {
  .servings-header {
    width: 100%;
  }
}
