<div class="container">
  <form #recipeForm="ngForm">
    <div class="form-group">
      <label for="title">Titel</label>
      <input type="text" [(ngModel)]="model.title" name="title" class="form-control" id="title" required #title="ngModel">
    </div>
    <div [hidden]="title.valid || title.pristine"
          class="alert alert-danger">
      Das Rezept muss einen Titel haben
    </div>
    <div>
      <button type="button" class="btn btn-default" (click)=showHeroPicker()>Titelbild Hochladen</button>
      <span *ngIf="model.heroImage"> "{{ heroFilename }}" wurde erfolgreich hochgeladen!</span>
    </div>
    <div class="form-inline">
      <div class="form-group">
        <label for="duration">Dauer</label>
        <input type="number" [(ngModel)]="model.duration" name="duration" id="duration" class="form-control"><span> Minuten</span>
      </div>
      <div class="form-group">
        <label for="difficulty">Schwierigkeit</label>
        <input type="number" [(ngModel)]="model.difficulty" name="difficulty" id="difficulty" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <p>Zutaten: </p>
      <div *ngFor="let ingr of ingredients; let i = index">
        {{ ingr.quantity }} {{ ingr.name }}
        <input *ngIf="ingredientAdded" type="button" value="X" class="btn btn-danger btn-xs" (click)=removeIngredient(ingr)>
      </div>
      <label for="name">Name</label>
      <input type="text" [(ngModel)]="newIngredient.name" name="name" class="form-control" id="name">
      <label for="quantity">Menge</label>
      <input type="text" [(ngModel)]="newIngredient.quantity" name="quantity" class="form-control" id="quantity">
    </div>
    
    <button type="button" class="btn btn-primary" (click)=addIngredient()>Hinzufügen</button>
    <div class="form-group">
      <label for="description">Beschreibung</label>
      <input type="text" [(ngModel)]="model.description" name="description" class="form-control" id="description">
    </div>
    <button type="button" class="btn btn-default" (click)=showDescPicker()>Anleitung Hochladen</button>
    <span *ngIf="model.descrImage"> "{{ descrFilename }}" wurde erfolgreich hochgeladen!</span>
    <div class="form-group">
      <label for="category">Kategorien: </label>
      <span *ngFor="let ctg of categories">
        {{ ctg }}
        <button type="button" class="close noFloat" (click)="removeCategory(ctg)">x</button>  
      </span>
      <input #category type="text" name="category" class="form-control" id="category" (keyup.enter)="addCategory(category.value); category.value=''">
    </div>
    <button type="button" (click)="addRecipe(); gotoRecipes()" class="btn btn-success" [disabled]="!recipeForm.form.valid">Speichern</button>
  </form>
</div>