<div class="container">
  <form #recipeForm="ngForm">
    <h1 class="page-header h1">{{ model.title }}</h1>
    <div class="row form-group">
      <div class="col-sm-9">
        <input type="text" [(ngModel)]="model.title" name="title" class="form-control " id="title" required #title="ngModel" placeholder="Titel">
      </div>
      <div class="col-sm-3">
        <button type="button" class="btn btn-default" (click)=showHeroPicker()>Titelbild Hochladen</button>
      </div>
      <div class="text-right col-xs-12 title-message" *ngIf="model.heroImage"> "{{ heroFilename }}" wurde erfolgreich hochgeladen!</div>
    </div>
    <div [hidden]="title.valid || title.pristine"
          class="alert alert-danger">
      Das Rezept muss einen Titel haben
    </div>
    <div class="row form-group">
      <div class="col-sm-2">
        <div class="input-group">
          <div class="input-group-addon"><svg class="icon icon-user"><use xlink:href="#icon-user"></use></svg></div>
          <input type="number" [(ngModel)]="model.servings" name="servings" id="servings" class="form-control">
        </div>
      </div>
      <div class="col-sm-4 col-sm-offset-1">
        <div class="input-group">
          <div class="input-group-addon"><svg class="icon icon-clock-o"><use xlink:href="#icon-clock-o"></use></svg></div>
          <input type="number" [(ngModel)]="model.duration" name="duration" id="duration" class="form-control">
          <div class="input-group-addon">Minuten</div>
        </div>
      </div>
      <div class="col-sm-4 col-sm-offset-1">
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default" [ngClass]="{'active':model.difficulty==1}" (click)="model.difficulty=1; show()">Einfach</button>
          <button type="button" class="btn btn-default" [ngClass]="{'active':model.difficulty==2}" (click)="model.difficulty=2; show()">Mittel</button>
          <button type="button" class="btn btn-default" [ngClass]="{'active':model.difficulty==3}" (click)="model.difficulty=3; show()">Schwer</button>
        </div>
      </div>
    </div>
    <h3 class="h3">Zutaten</h3>
    <div class="list" *ngFor="let ingr of ingredients; let i = index">
      <div *ngIf="ingr.name != ''">
        {{ ingr.name }} <span *ngIf="ingr.hint!=''">({{ ingr.hint }})</span>
        <button *ngIf="ingredientAdded" type="button" class="close no-float" (click)=removeIngredient(ingr)><span aria-hidden="true">&times;</span></button>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-5">
          <input type="text" [(ngModel)]="newIngredient.name" name="name" class="form-control" id="name" 
                (keyup.enter)="addIngredient()" placeholder="Enter drücken zum Hinzufügen" #ingredient>
      </div>
      <div class="col-sm-7">
        <div class="input-group">
          <div class="input-group-addon">Hinweis</div>
          <input type="text" [(ngModel)]="newIngredient.hint" name="hint" class="form-control" id="hint" 
                (keyup.enter)="addIngredient(); ingredient.focus()" placeholder="Klammern werden automatisch gesetzt">
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <h3 class="h3">Info</h3>
      <textarea rows="3" [(ngModel)]="model.description" name="description" class="form-control" id="description" required #description="ngModel" placeholder="Beschreibung..."></textarea>
    </div>
    <div [hidden]="description.valid || description.pristine"
          class="alert alert-danger">
      <p *ngIf="model.descrImage">Bitte gib dem Rezept noch eine kurze Beschreibung</p>
      <p *ngIf="!model.descrImage">Das Rezept braucht eine Beschreibung, vor allem ohne Bild!</p>
    </div>
    <button type="button" class="btn btn-default" (click)=showDescPicker()>Anleitung Hochladen</button>
    <span *ngIf="model.descrImage" style="padding-left: 5px;"> "{{ descrFilename }}" wurde erfolgreich hochgeladen!</span>
    <div class="form-group">
      <h3 class="h3">Kategorien</h3>
      <div class="list-inline" *ngFor="let ctg of categories">
        {{ ctg }}
        <button type="button" class="close no-float" (click)="removeCategory(ctg)">x</button>  
      </div>
      <input #category type="text" name="category" class="form-control" id="category" 
            (keyup.enter)="addCategory(category.value); category.value=''" placeholder="Enter drücken zum Hinzufügen">
    </div>
    <button type="button" (click)="addRecipe(); gotoRecipes()" class="btn btn-success" [disabled]="!recipeForm.form.valid" style="margin-bottom: 20px">Speichern</button>
  </form>
</div>