.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

#plan-nav-wrapper {
  background: #fff;
  position: fixed;
  width: 100%;
}

#plan-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
  font-size: 1.25rem;

  button {
    color: #333;
    display: flex;
    align-items: center;
    border: none;
  }

  & > * {
    margin: 0 .75rem;
  }
}

#plan {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 4.25rem;
  padding: 2rem 1rem;

  a {
    text-decoration: none;
    color: inherit;
  }

  .day {
    background: #fff;
    margin-bottom: 1.5rem;
    padding: .75rem 1rem;
    border-radius: 10px;

    .date {
      color: #aaa;
      display: block;
      font-weight: 600;
      font-size: .9rem;
      text-transform: uppercase;
    }

    .entry {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .controls {
        color: #aaa;
        font-size: 1.3rem;
      }
      .meta {
        color: #333;
        padding-top: .5rem;
        font-weight: 600;
        font-size: .9rem;
        text-transform: uppercase;
      }
      .title {
        color: #333;
        padding-top: .25rem;
        font-size: 1.1rem;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

#new-entry {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  height: 3.5rem;
  width: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #333;
  border: 2px #f2f2f2 solid;
  border-radius: 50%;
  font-size: 2rem;
  text-decoration: none;
  cursor: pointer;
  z-index: 10;
}
