<div *ngIf="recipe" class="top-icons">
  <svg class="icon icon-chevron-left click" (click)="back()"><use href="#icon-chevron-left"></use></svg>
  <svg class="icon icon-spoon-knife click"><use href="#icon-spoon-knife"></use></svg>
  <span class="badge cook-badge">{{ recipe.cookCount }}</span>
</div>

<div class="container" *ngIf="recipe">
  <h1 class="text-center mt-4 px-1 recipe-title">{{ recipe.title }}</h1>
  <div class="row my-4">
    <div class="col top-info">
        <svg class="icon icon-user">
          <use href="#icon-user"></use>
        </svg>
        <span>{{ recipe.servings }}</span>
    </div>
    <div class="col top-info">
      <svg class="icon icon-clock-o">
        <use href="#icon-clock-o"></use>
      </svg>
      <span>{{ recipe.duration }} Minuten</span>
    </div>
    <div class="col top-info">
      <svg class="icon icon-star-o">
        <use href="#icon-star-o"></use>
      </svg>
      <span>{{ recipe.difficulty | difficultyString }}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 class="mb-2 section-header">Zutaten</h4>
      <ul class="list-unstyled">
        <li class="mb-1"*ngFor="let ingredient of recipe.ingredients">
          - {{ ingredient.name }}
          <span *ngIf="ingredient.hint" class="ml-1">({{ ingredient.hint }})</span>
        </li>
      </ul>
    </div>
    <div class="col-6">
      <h4 class="mb-2 section-header">Zubereitung</h4>
      <markdown *ngIf="recipe.description">{{ recipe.description }}</markdown>
      <img #descrImage *ngIf="recipe.descrImage" src="{{recipe.descrImage}}"
          alt="Recipe description" class="img-fluid">
    </div>
  </div>
