.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.icon-clock-o {
  width: 0.8571428571428571em;
}
.icon-user {
  width: 0.7142857142857142em;
}
.icon-trash {
  width: 0.7857142857142857em;
}