<div class="container top-section" *ngIf="recipe && recipe.heroImage && !lightbox">
  <div class="hero-wrapper">
    <img class="loading-img" src="{{ recipe.heroImage | previewimg }}">
    <div class="main-image click" [lazyLoad]="recipe.heroImage | thumbnail:600:0" (click)="lightboxOn()"></div>
  </div>
  <h3 class="recipe-title center-align">{{ recipe.title }}</h3>
</div>

<i *ngIf="!lightbox" class="material-icons back grey-text text-darken-4 click" (click)="gotoRecipes()">close</i>

<div *ngIf="recipe && !lightbox" class="difficulty-rating">
  <i class="material-icons grey-text text-darken-4" *ngFor="let i of Arr(recipe.difficulty).fill(1)">star_border</i>
</div>

<div class="animated fadeIn" *ngIf="recipe && !lightbox">
  <div class="quickinfo-wrapper grey lighten-4">
    <div class="container">
      <div class="row quickinfo">
        <div class="col s12 l6 center-align">
          <div class="center-align ingredient-count">
              <span class="number indigo-text">{{ recipe.ingredients.length }}</span><span class="number-caption">Zutaten</span>
          </div>
          <div class="center-align minutes">
            <span class="number indigo-text">{{ recipe.duration }}</span><span class="number-caption">Minuten</span>
          </div>
        </div>
        <div class="col s12 l6">
          <div class="categories">
            <div class="chip ctg click" *ngFor="let ctg of recipe.categories" (click)="searchCtg(ctg)">{{ ctg }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row main-content">
      <div class="ingredients-wrapper col s12 m6">
        <h4>
          <span>Zutaten</span>
          <span class="servings-input grey-text text-darken-4">
            <i class="material-icons click" (click)="removeServing()">remove</i>
            <span class="servings">{{ desiredServings }}</span>
            <i class="material-icons click" (click)="addServing()">add</i>
          </span>
        </h4>
        <div class="big-border"></div>
        <ul class="ingredients">
          <li class="ingredient" *ngFor="let ingredient of recipe.ingredients">
            <span>
              {{ ingredient.name | calcServings:recipe.servings:desiredServings }}
              <span *ngIf="ingredient.hint">({{ ingredient.hint }})</span>
            </span>
          </li>
        </ul>
        <div class="left-align" style="margin: 3rem 0;">
          <button mz-button class="indigo" (click)="converter()">Umrechner</button>
        </div>
      </div>
      <div class="col s12 m6">
        <h4>Zubereitung</h4>
        <div class="big-border"></div>
        <markdown *ngIf="recipe.description" class="description">{{ recipe.description }}</markdown>
        <img #descrImage *ngIf="recipe.descrImage" src="{{recipe.descrImage}}"
            alt="Recipe description" class="responsive-img">
      </div>
    </div>
    <div class="row">
      <div class="col s12" style="padding-left: 0;">
        <div class="left-align" style="margin-top: 3rem;">
          <a mz-button class="indigo" href="/pdf/recipe/{{ recipe._id }}" download>PDF</a>
          <button mz-button class="indigo" (click)="edit()" *ngIf="isLoggedIn()" style="margin-left: 1.5rem;">Bearbeiten</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="lightbox" *ngIf="recipe && lightbox" (click)="lightboxOff()">
  <i class="material-icons grey-text text-darken-4 click" (click)="lightboxOff()">close</i>
  <img src="{{ recipe.heroImage }}" alt="{{ recipe.title }}">
</div>
