.fullwidth {
    width: 100%;
}

.top-section {
    padding: 2.5rem .5rem;
}

.hero-wrapper {
    position: relative;
    height: 50vh;
    max-width: 600px;
    margin: 0 auto;
}

.loading-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2.5%;
}

.main-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2.5%;
    opacity: 0;
    transition: opacity 1s ease;
}

.main-image.ng-lazyloaded {
    opacity: 1;
}

.ctg {
    transition: all 1s ease;
    font-size: 12px;
}

.ctg:hover {
    background-color: #ededed !important;
    color: #333 !important;
}

.back {
    z-index: 10000;
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 0.5rem;
    font-size: 2.5rem;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    transition: all 200ms ease;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
}

.difficulty-rating {
    z-index: 10000;
    position: absolute;
    left: 5px;
    top: 5px;
    padding: 0.5rem;
}

.difficulty-rating i {
    font-size: 2.5rem;
    display: block;
    margin-bottom: .5rem;
}

.quickinfo-wrapper {
    width: 100%;
}

.quickinfo-wrapper .row {
    margin-bottom: 0;
}

.quickinfo {
    padding: 40px 20px;
    max-width: 1600px;
}

.recipe-title {
    text-align: center;
    margin: 0;
    margin-top: 2rem;
    font-weight: 300;
}

.ingredient-count, .minutes {
    font-size: 20px;
    font-weight: 300;
    display: inline;
    width: 50%;
}

.ingredient-count {
    border-right: 1px #777 solid;
    padding-right: 19px;
}

.minutes {
    padding-left: 20px;
}

.minutes .number, .ingredient-count .number {
    padding-right: 12px;
}

.number {
    font-size: 24px;
}

.categories {
    font-size: 22px;
    text-align: center;
    color: #333;
}

.main-content {
    padding-top: 50px;
    padding-bottom: 50px;
}

.main-content h4 {
    font-size: 1.8rem;
}

.big-border {
    width: 66.66%;
    border-bottom: 1px #ddd solid;
}

.ingredients {
    margin-top: .5rem;
}

.ingredients .ingredient {
    font-size: 1.1rem;
    line-height: 1.8;
}

.ingredients .ingredient span {
    padding-left: 0;
    font-family: 'Open Sans', sans-serif;
}

.servings-input {
    float: right;
    margin-right: 33.33%;
}

.servings-input i {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
    padding: .5rem;
    font-size: 18px;
}

.servings-input i:hover {
    background: rgba(200,200,200,0.3);
    border-radius: 50%;
}

.servings {
    padding: 0 .75rem;
    font-weight: 300;
    font-size: 2rem;
}

.description {
    font-size: 1.1rem;
}

button {
    font-family: 'Open Sans', sans-serif;
}

:host /deep/ p {
    font-family: 'Open Sans', sans-serif;
}

:host /deep/ p strong {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

:host /deep/ p em {
    font-family: 'Open Sans', sans-serif;
}

.lightbox {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: #fff;
}

.lightbox i {
    z-index: 10000;
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 0.5rem;
    font-size: 2.5rem;
}

.lightbox img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    max-height: 90%;
    max-width: 90%;
}

@media only screen and (max-width: 1200px) {
    .big-border {
        width: 100%
    }
    .servings-input {
        margin-right: 0;
    }
    .title-wrapper.center {
        display: none;
    }
    .title-wrapper.top {
        display: block;
        padding-bottom: 30px;
    }
}


@media only screen and (max-width: 992px) {
    .quickinfo .col, .categories {
        text-align: center !important;
    }

    .categories {
        padding-top: 30px;
    }
}

@media only screen and (max-width: 767px) {
    .hero-wrapper {
        height: 33vh;
    }
    .top-section {
        padding-top: 3.33rem;
    }
    .back, .difficulty-rating i {
        font-size: 1.5rem;
        display: inline-block;
    }
    .recipe-title {
        font-size: 1.75rem;
    }
    .row.quickinfo {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .number {
        font-size: 24px;
    }
    .number-caption {
        font-size: 18px;
    }
    .categories {
        padding-top: 1rem;
    }
    .main-content {
        padding-top: 25px;
    }
    .ingredients .ingredient {
        font-size: 16px;
    }
    .description {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1201px) {
    .quickinfo {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
    }
    .title-wrapper.center {
        display: block;
    }
    .title-wrapper.top {
        display: none;
    }
}

@media only screen and (min-width: 601px) {
    .ingredients-wrapper {
        padding-left: 0;
    }
}