<div *ngIf="recipe">
  <svg class="icon icon-chevron-left click" (click)="gotoRecipes()"><use inlineHref="#icon-chevron-left"></use></svg>
  <svg class="icon icon-spoon-knife click" (click)="cooked()"><use inlineHref="#icon-spoon-knife"></use></svg>
  <span class="badge cook-badge">{{ recipe.cookCount }}</span>
</div>
<div class="container" *ngIf="recipe">
  <h1 class="display-3 text-center mt-4 px-1">{{ recipe.title }}</h1>
  <hr class="my-4">
  <img *ngIf="recipe.heroImage" class="img-fullwidth" src="{{recipe.heroImage}}" alt="{{recipe.title}}">
  <div class="row my-4">
    <div class="col-4 col-lg-2">
      <div class="input-group">
        <div class="input-group-addon"><svg class="icon icon-user"><use inlineHref="#icon-user"></use></svg></div>
        <input type="number" [(ngModel)]="desiredServings" name="servings" id="servings" class="form-control">
      </div>
    </div>
    <div class="col-8 col-lg-5 top-info text-center">
      <div *ngIf="recipe.categories"><span *ngFor="let ctg of recipe.categories" class="click" (click)="searchCtg(ctg)"> #<strong>{{ ctg }}</strong> </span></div>
    </div>
    <div class="col-6 col-lg-3 mt-3 mt-lg-0 top-info">
      <svg class="icon icon-clock-o">
        <use inlineHref="#icon-clock-o"></use>
      </svg>
      <span>{{ recipe.duration }} Minuten</span>
    </div>
    <div class="col-6 col-lg-2 mt-3 mt-lg-0 top-info">
      <svg class="icon icon-star-o">
        <use inlineHref="#icon-star-o"></use>
      </svg>
      <span>{{ recipe.difficulty | difficultyString }}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <h2 class="mb-4 section-header">Zutaten</h2>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
          {{ ingredient.name | calcServings:recipe.servings:desiredServings }}
          <span *ngIf="ingredient.hint" class="ml-1">({{ ingredient.hint }})</span>
        </li>
      </ul>
    </div>
    <div class="col-lg-6">
      <h2 class="my-4 mb-lg-4 section-header">Zubereitung</h2>
      <p *ngIf="recipe.description">{{ recipe.description }}</p>
      <img #descrImage *ngIf="recipe.descrImage" src="{{recipe.descrImage}}"
          alt="Recipe description" class="img-fluid">
    </div>
  </div>
  <div class="my-3">
    <button class="btn btn-primary click" type="button" (click)="edit()">Bearbeiten</button>
    <button class="btn btn-danger click" type="button" data-toggle="modal" data-target="#deleteModal">Löschen</button>
    <button class="btn btn-secondary float-right hidden-sm-down click" type="button" (click)="printView()">Druckansicht</button>
  </div>

  <div class="modal fade" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Möchtest du "{{ recipe.title }}" wirklich löschen?</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default click" data-dismiss="modal">Abbrechen</button>
          <button type="button" class="btn btn-danger click" (click)="deleteRecipe(); gotoRecipes()" data-dismiss="modal">Löschen</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</div> 