<div *ngIf="recipe" class="fullwidth">
  <mz-parallax [height]="400">
    <img src="{{recipe.heroImage}}" alt="{{recipe.title}}">
  </mz-parallax>
</div>

<i class="material-icons back grey-text text-darken-4 click" (click)="gotoRecipes()">close</i>

<div *ngIf="recipe" class="difficulty-rating">
  <i class="material-icons grey-text text-darken-4" *ngFor="let i of Arr(recipe.difficulty).fill(1)">star_border</i>
</div>

<div class="animated fadeIn" *ngIf="recipe">
  <div class="quickinfo-wrapper grey lighten-4">
    <div class="row quickinfo">
      <div class="col s12 l12 xl6 title-wrapper top">
        <h4 class="recipe-title">{{ recipe.title }}</h4>
      </div>
      <div class="col s12 l6 xl3">
        <div class="right-align ingredient-count">
            <span class="number indigo-text">{{ recipe.ingredients.length }}</span><span>Zutaten</span>
        </div>
        <div class="left-align minutes">
          <span class="number indigo-text">{{ recipe.duration }}</span><span>Minuten</span>
        </div>
      </div>
      <div class="col s12 l12 xl6 title-wrapper center">
        <h4 class="recipe-title">{{ recipe.title }}</h4>
      </div>
      <div class="col s12 l6 xl3">
        <div class="categories">
          <div class="chip">Vegetarisch</div><div class="chip">Indisch</div><div class="chip">Vegan</div><div class="chip">Klassiker</div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row main-content">
      <div class="ingredients-wrapper col s12 m6">
        <h4>
          <span>Zutaten</span>
          <span class="servings-input grey-text text-darken-4">
            <i class="material-icons click" (click)="addServing()">add</i>
            <span class="servings">{{ desiredServings }}</span>
            <i class="material-icons click" (click)="removeServing()">remove</i>
          </span>
        </h4>
        <div class="big-border"></div>
        <ul class="ingredients">
          <li class="ingredient" *ngFor="let ingredient of recipe.ingredients">
            <span>
              {{ ingredient.name | calcServings:recipe.servings:desiredServings }}
              <span *ngIf="ingredient.hint">({{ ingredient.hint }})</span>
            </span>
            <div class="small-border"></div>
          </li>
        </ul>
        <div class="center-align" style="margin: 3rem;">
          <button mz-button class="indigo" (click)="converter()">Umrechner</button>
        </div>
      </div>
      <div class="col s12 m6">
        <h4>Zubereitung</h4>
        <div class="big-border"></div>
        <markdown *ngIf="recipe.description" class="description">{{ recipe.description }}</markdown>
        <img #descrImage *ngIf="recipe.descrImage" src="{{recipe.descrImage}}"
            alt="Recipe description" class="responsive-img">
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="center-align" style="margin-top: 3rem;">
          <button mz-button class="indigo" (click)="edit()">Bearbeiten</button>
        </div>
      </div>
      <div class="col s12">
        <div class="center-align" style="margin: 1rem 0;">
          <button mz-button class="indigo" (click)="printView()">Druckansicht</button>
        </div>
      </div>
    </div>
  </div>
</div>