<div class="container" *ngIf="recipe">
  <button type="button" (click)="gotoRecipes()">Zurück</button>
  <h4 class="card-title">{{ recipe.title }}</h4>
  <p class="card-text">
    Das Rezept dauert etwa {{ recipe.duration }} Minuten 
    und hat einen Schwierigkeitsgrad von {{ recipe.difficulty }}.
  </p>
  <p>Zutaten:</p>
  <p *ngFor="let ingredient of recipe.ingredients">{{ ingredient.quantity }} {{ ingredient.name }}</p>
  <p>Beschreibung: </p>
  <p *ngIf="recipe.description" class="card-text">{{ recipe.description }}</p>
  <img *ngIf="recipe.descrImage" src="{{recipe.descrImage}}" alt="Recipe description">
  <p *ngIf="recipe.categories">Kategorien: <span *ngFor="let ctg of recipe.categories">{{ ctg }} </span></p>
  <button class="btn btn-primary" type="button" (click)="edit(recipe)">Update</button>
  <button class="btn btn-danger" type="button" (click)="deleteRecipe(); gotoRecipes()">Löschen</button>
</div>
