.icon-spoon-knife {
    fill: #222;
    position: absolute;
    top: 50px;
    right: 50px;
    width: 20px;
    height: 20px;
}

.icon-chevron-left {
    fill: #222;
    position: absolute;
    top: 50px;
    left: 20px;
    width: 2em;
    height: 2em;
}

.badge.cook-badge {
    background-color: #222;
    position: absolute;
    top: 50px;
    right: 20px;
}

@media only screen and (max-width: 767px) {
    .icon-spoon-knife {
        top: 10px;
    }

    .icon-chevron-left {
        display: none;
    }

    .badge.cook-badge {
        top: 10px;
    }
}