<div class="jumbotron">
  <div class="container">
    <h1>Maries und Georgs Rezeptebuch</h1>
    <p>Durchsuche unser Kochbuch nach ausgewählten Rezepten, die wir hier mit Liebe zusammengestellt haben :)</p>
    <div class="row">
      <div class="col-sm-5">
        <input [(ngModel)]="ingrQuery" type="text" class="form-control" name="ingredient-search" placeholder="Suche nach Zutaten z.B. Tomate, Kartoffel">
      </div>
      <div class="col-sm-5">
        <input [(ngModel)]="ctgQuery" type="text" class="form-control" name="category-search" placeholder="Suche nach Kategorien z.B. Pasta, Vegan">
      </div>
      <div class="col-sm-2">
        <button type="button" class="btn btn-primary" (click)="newRecipe()">Neues Rezept</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div *ngIf="recipes" class="row">
    <div *ngFor="let recipe of recipes | filterRecipes:ingrQuery:ctgQuery"
      (click)="onSelect(recipe)" class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img *ngIf="recipe.heroImage" src="{{recipe.heroImage}}" alt="{{recipe.title}}">
        <img *ngIf="!recipe.heroImage" src="../../../assets/images/comingsoon.jpg" alt="Coming soon">
        <div class="caption">
          <h3>{{ recipe.title }}</h3>
          <p>{{ recipe.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>