<h2>Rezepte</h2>
<input #ingrSearch (keyup)="0" type="text" name="ingredient-search" placeholder="Suche nach Zutaten">
<input #ctgSearch (keyup)="0" type="text" name="category-search" placeholder="Suche nach Kategorien">
<ul class="items">
  <div *ngIf="recipes">
    <li *ngFor="let recipe of recipes | filterRecipes:ingrSearch.value:ctgSearch.value"
      (click)="onSelect(recipe)">
      <span class="badge">{{ recipe.title }}</span>
    </li>
  </div>
</ul>
<button type="button" (click)="newRecipe()">Neues Rezept</button>
