<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Maries und Georgs Rezeptebuch</h1>
    <p class="lead" >Durchsuche unser Kochbuch nach ausgewählten Rezepten, die wir hier mit Liebe zusammengestellt haben :)</p>
    <hr class="my-4">
    <div class="row">
      <div class="col-sm-5">
        <input [(ngModel)]="ingrQuery" type="text" class="form-control" name="ingredient-search" placeholder="Suche nach Zutaten z.B. Tomate, Kartoffel">
      </div>
      <div class="col-sm-5">
        <input [(ngModel)]="ctgQuery" type="text" class="form-control" name="category-search" placeholder="Suche nach Kategorien z.B. Pasta, Vegan">
      </div>
      <div class="col-sm-2">
        <button type="button" class="btn btn-primary" (click)="newRecipe()">Neues Rezept</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div *ngIf="recipes" class="row">
    <div *ngFor="let recipe of recipes | filterRecipes:ingrQuery:ctgQuery"
      (click)="onSelect(recipe)" class="col-lg-6 col-xl-4">
      <div class="card recipe-card">
        <img *ngIf="recipe.heroImage" class="card-img-top img-fluid" src="{{recipe.heroImage}}" alt="{{recipe.title}}">
        <img *ngIf="!recipe.heroImage" class="card-img-top img-fluid" src="../../../assets/images/comingsoon.jpg" alt="Coming soon">
        <div class="card-block">
          <h3 class="card-title">{{ recipe.title }}</h3>
          <p class="card-text">{{ recipe.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>