<div class="container animated fadeIn">
  <form #recipeForm="ngForm">
    <div *ngIf="recipe">
    <h1 class="center-align">{{ recipe.title }}</h1>
    <hr>
    <img *ngIf="recipe.heroImage" class="responsive-img" src="{{recipe.heroImage}}" alt="{{recipe.title}}">
    <div class="row">
      <mz-input-container class="col s12 l9">
        <input mz-input
          required 
          #title="ngModel"
          [(ngModel)]="recipe.title"
          [validate]="true"
          id="title"
          name="title"
          placeholder="Titel"
          type="text">
      </mz-input-container>
      <div class="col s12 l3 center-align">
        <button class="waves-effect waves-light btn click indigo hero-image" type="button" (click)="showHeroPicker()">Titelbild</button>
      </div>
      <div [hidden]="title.valid || title.pristine" class="red-text col s6">Das Rezept muss einen Titel haben</div>
    </div>
    <div class="row">
      <div class="col s6">
        <mz-input-container>
          <i mz-icon mz-input-prefix [icon]="'person'"></i>
          <input mz-input [(ngModel)]="recipe.servings" [label]="'Portionen'" 
            id="servings" name="servings"  type="number">
        </mz-input-container>
      </div>
      <div class="col s6">
        <mz-input-container>
          <i mz-icon mz-input-prefix [icon]="'timer'"></i>
          <input mz-input [(ngModel)]="recipe.duration" [label]="'Minuten'" 
            id="duration" name="duration"  type="number">
        </mz-input-container>
      </div>
    </div>

    <div class="row toggles">
      <div class="col s12 m6 center-align" style="margin-top: 1.rem;">
        <div role="group" aria-label="...">
          <button type="button" class="waves-effect waves-light btn indigo lighten-3 click" 
            [ngClass]="{'difficulty-active':recipe.difficulty==1}" (click)="recipe.difficulty=1">Einfach</button>
          <button type="button" class="waves-effect waves-light btn indigo lighten-3 click" 
            [ngClass]="{'difficulty-active':recipe.difficulty==2}" (click)="recipe.difficulty=2">Mittel</button>
          <button type="button" class="waves-effect waves-light btn indigo lighten-3 click" 
            [ngClass]="{'difficulty-active':recipe.difficulty==3}" (click)="recipe.difficulty=3">Schwer</button>
        </div>
      </div>
      <div class="col s12 m6 veggies center-align">
        <mz-checkbox-container class="veggie-option">
          <input mz-checkbox
            [label]="'Vegetarisch'"
            name="vegetarian"
            id="vegetarian"
            [(ngModel)]="vegetarian"
            type="checkbox">
        </mz-checkbox-container>
        <mz-checkbox-container class="veggie-option">
          <input mz-checkbox
            [label]="'Vegan'"
            name="vegan"
            id="vegan"
            [(ngModel)]="vegan"
            type="checkbox">
        </mz-checkbox-container>
      </div>
    </div>

    <div class="row">
      <h4 class="section-title">Zutaten</h4>
      <div class="ingredients col s12" dnd-sortable-container [sortableData]="ingredients">
        <div class="ingredient" *ngFor="let ingr of recipe.ingredients; let i = index" dnd-sortable [sortableIndex]="i">
          <div *ngIf="ingr.name != ''">
            {{ ingr.name }} <span *ngIf="ingr.hint!=''"> ({{ ingr.hint }})</span>
            <i class="material-icons click edit" (click)="editIngredient(i); editModal.open()">edit</i>
            <i class="material-icons click" (click)="removeIngredient(ingr)">close</i>
            <div class="small-border"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6">
        <mz-input-container class="col s12">
          <input mz-input [(ngModel)]="newIngredient.name" [label]="'Name'" (keyup.enter)="addIngredient()"
            id="ingrName" name="ingrName" type="text" placeholder="Enter drücken zum Hinzufügen" #ingredient>
        </mz-input-container>
      </div>
      <div class="col s12 m6">
        <mz-input-container class="col s12">
          <input mz-input [(ngModel)]="newIngredient.hint" [label]="'Hinweis'" (keyup.enter)="addIngredient(); ingredient.focus()"
            id="ingrHint" name="ingrHint" type="text" placeholder="Klammern werden automatisch gesetzt">
        </mz-input-container>
      </div>
    </div>
    <div class="row">
      <h4 class="section-title info">
        <span>Info</span>
        <i class="material-icons click" (click)="markdownModal.open()">help</i>
      </h4>
      <ul class="preview-toggle">
        <li class="toggle-control click grey-text text-darken-4" (click)="setPreview(false)" [ngClass]="{'active':!mdPreview}">Text</li>
        <li class="toggle-control click grey-text text-darken-4" (click)="setPreview(true)" [ngClass]="{'active':mdPreview}">Vorschau</li>
      </ul>
      <div class="col s12" id="description" *ngIf="!mdPreview">
        <mz-textarea-container>
          <textarea mz-textarea
            [label]="'Beschreibung'" 
            [(ngModel)]="recipe.description"
            id="description" name="description"
            placeholder="Markdown für Styling verfügbar, mehr Info auf dem Hilfe-Button"
            data-original-height="0">
          </textarea>
        </mz-textarea-container>
      </div>
      <div class="col s12" id="preview" style="min-height: 124px;" *ngIf="mdPreview">
        <markdown [data]="recipe.description"></markdown>
      </div>
      <div class="col s12 center-align">
        <button type="button" class="waves-effect waves-light btn indigo click" (click)="showDescPicker()">Anleitung Hochladen</button>
      </div>
      <img *ngIf="recipe && recipe.descrImage" class="responsive-img" src="{{recipe.descrImage}}" alt="Recipe description">
    </div>
    <div class="row">
      <h4 class="section-title categories">Kategorien</h4>
      <div class="chip" style="display: inline-block;" *ngIf="vegetarian">
        Vegetarisch
        <i class="close material-icons" (click)="vegetarian=false;">close</i>
      </div>
      <div class="chip" style="display: inline-block;" *ngIf="vegan">
        Vegan
        <i class="close material-icons" (click)="vegan=false;">close</i>
      </div>
      <div class="chip" *ngFor="let ctg of categories" style="display: inline-block;">
        {{ ctg }}
        <i class="close material-icons" (click)="removeCategory(ctg)">close</i>
      </div>
      <mz-input-container class="col s12" *ngIf="recipes">
        <input mz-input #category
          [label]="'Neue Kategorie'"
          placeholder="Enter drücken zum Hinzufügen"
          [autocomplete]="autocomplete"
          autocomplete="off"
          id="category"
          type="text"
          (keyup.enter)="addCategory(category.value); category.value=''">
      </mz-input-container>
      <div class="col s12 center-align" style="margin-top: 2rem;">
        <button type="button" (click)="save();" class="waves-effect waves-light btn-large indigo" [disabled]="!recipeForm.form.valid">Rezept speichern</button>
      </div>
    </div>
    </div>
  </form>
</div>


<mz-modal #editModal [options]="editModalOptions">
  <mz-modal-header>
    Bearbeiten
  </mz-modal-header>
  <mz-modal-content>
    <br>
    <mz-input-container class="col s12" *ngIf="editIngr.name">
      <input mz-input [(ngModel)]="editIngr.name" [label]="'Name'" 
        id="editName" name="editName" type="text">
    </mz-input-container>
    <mz-input-container class="col s12" *ngIf="editIngr.hint">
      <input mz-input [(ngModel)]="editIngr.hint" [label]="'Hinweis'" 
        id="editHint" name="editHint" type="text">
    </mz-input-container>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>Speichern</button>
  </mz-modal-footer>
</mz-modal>

<mz-modal #markdownModal>
  <mz-modal-header>
    Was ist Markdown?
  </mz-modal-header>
  <mz-modal-content>
    <p class="flow-text">
      Mit Markdown kann man sehr einfach und schnell Text formatieren, hier einige Beispiele:
      <br>
      <br>
      **Zwei Sterne** für <strong>fette</strong> Schrift
      <br>
      <br>
      *Einen Stern* für <em>kursive</em> Schrift
      <br>
      <br>
      Eine leere Zeile Platz
      <br>
      <br>
      lassen für einen Absatz
      <br>
      <br>
      [Ich bin ein Link Titel](http://www.google.com) wird zu <a href="http://www.google.com">Ich bin ein Link Titel</a>
      <br>
      <br>
      Links werden jedoch auch automatisch erkannt: <a href="http://www.google.com">http://www.google.com</a>
      <br>
      <br>
      Eine vollständige Übersicht über die Markdown-Syntax gibt es <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">hier</a>.
    </p>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>Schließen</button>
  </mz-modal-footer>
</mz-modal>