<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Umrechner</h4>
    <button type="button" class="close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <input type="number" step="any" class="form-control col-6 col-sm-8 d-inline-block" name="ml" [ngModel]="quantity | round:3" (ngModelChange)="quantity=$event">
    <span class="pl-1 col-6 col-sm-4"><strong>ml</strong> (Milliliter)</span>
    <input type="number" step="any" class="form-control col-6 col-sm-8 d-inline-block" name="l" [ngModel]="quantity/1000 | round:3" (ngModelChange)="quantity=$event*1000">
    <span class="pl-1 col-6 col-sm-4"><strong>l</strong> (Liter)</span>
    <input type="number" step="any" class="form-control col-6 col-sm-8 d-inline-block" name="tl" [ngModel]="quantity/5 | round:3" (ngModelChange)="quantity=$event*5">
    <span class="pl-1 col-6 col-sm-4"><strong>TL</strong> (Teelöffel)</span>
    <input type="number" step="any" class="form-control col-6 col-sm-8 d-inline-block" name="el" [ngModel]="quantity/15 | round:3" (ngModelChange)="quantity=$event*15">
    <span class="pl-1 col-6 col-sm-4"><strong>EL</strong> (Esslöffel)</span>
    <input type="number" step="any" class="form-control col-6 col-sm-8 d-inline-block" name="kleine-tasse" [ngModel]="quantity/125 | round:3" (ngModelChange)="quantity=$event*125">
    <span class="pl-1 col-6 col-sm-4"><strong>kleine</strong> Tasse</span>
    <input type="number" step="any" class="form-control col-6 col-sm-8 d-inline-block" name="grosse-tasse" [ngModel]="quantity/200 | round:3" (ngModelChange)="quantity=$event*200">
    <span class="pl-1 col-6 col-sm-4"><strong>große</strong> Tasse</span>
    <input type="number" step="any" class="form-control col-6 col-sm-8 d-inline-block" name="cup" [ngModel]="quantity/250 | round:3" (ngModelChange)="quantity=$event*250">
    <span class="pl-1 col-6 col-sm-4"><strong>Cup</strong> (amerik.)</span>
  </div>
</ng-template>

<button type="button" class="btn btn-secondary click" (click)="open(content)">
  <svg class="icon icon-refresh"><use href="#icon-refresh"></use></svg>
  <span class="pl-1">Umrechner</span>
</button>
