<mz-modal [fixedFooter]="true">
  <mz-modal-header>
    Umrechner
  </mz-modal-header>
  <mz-modal-content>
    <div class="row">
      <mz-input-container class="col s6">
        <input mz-input label="ml (Milliliter)" type="number" [ngModel]="quantity | round:3" (ngModelChange)="quantity=$event">
      </mz-input-container>
      <mz-input-container class="col s6">
        <input mz-input label="l (Liter)" type="number" name="l" [ngModel]="quantity/1000 | round:3" (ngModelChange)="quantity=$event*1000">
      </mz-input-container>
      <mz-input-container class="col s6">
        <input mz-input label="TL (Teelöffel)" type="number" name="tl" [ngModel]="quantity/5 | round:3" (ngModelChange)="quantity=$event*5">
      </mz-input-container>
      <mz-input-container class="col s6">
        <input mz-input label="EL (Esslöffel)" type="number" name="el" [ngModel]="quantity/15 | round:3" (ngModelChange)="quantity=$event*15">
      </mz-input-container>
      <mz-input-container class="col s6">
        <input mz-input label="kleine Tasse" type="number" name="kleine-tasse" [ngModel]="quantity/125 | round:3" (ngModelChange)="quantity=$event*125">
      </mz-input-container>
      <mz-input-container class="col s6">
        <input mz-input label="große Tasse" type="number" name="grosse-tasse" [ngModel]="quantity/200 | round:3" (ngModelChange)="quantity=$event*200">
      </mz-input-container>
      <mz-input-container class="col s6">
        <input mz-input label="Cup (amerik.)" type="number" name="cup" [ngModel]="quantity/250 | round:3" (ngModelChange)="quantity=$event*250">
      </mz-input-container>
    </div>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>Schließen</button>
  </mz-modal-footer>
</mz-modal>
